body {
  background: #00091b;
  color: #fff;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 700;
}

.dot {
  color: #4febfe;
}

p {
  text-align: center;
  margin: 18px 0;
  font-family: "Muli", sans-serif;
  font-weight: normal;
}

.icons {
  text-align: center;
}

.icons a {
  display: inline-block;
  margin: 0 10px;
}

.icons i {
  color: #fff;
  background: #00091b;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.icons i:hover {
  background: #fff;
  color: #00091b;
}
